h1, h2, p {
       text-align: center;}
main {background-color: mediumpurple }
hr {height:3px; background-color: blue; border-color:blue;}
a {color:black; text-align:center;}
h1 {background-color:cyan}
	  .paragraphs {margin-left: 10%; margin-right: 10%}
section {text-align:center;}